{% extends '::base.html.twig' %}

{% block body %}
<div class='jumbotron'>
    <h1>Paramètres mail</h1>
    
    <div class="row">
        <form method="post" {{ form_enctype(form) }}>
            <div class="form-group">
                <label for="title" class="col-lg-1 control-label">Titre:</label>
                <div class="col-lg-6">
                    {{ form_widget(form.title, { 'attr': {"class":"form-control"}} ) }}
                </div>
            </div>
            <div class="form-group" style='height: 210px;'>
                <label for="content" class="col-lg-1 control-label">Contenu:</label>
                <div class="col-lg-11">
                    {{ form_widget(form.content, { 'attr': {"class":"form-control"}} ) }}
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-lg-1 control-label">Expéditeur:</label>
                <div class="col-lg-6">
                    {{ form_widget(form.expeditor, { 'attr': {"class":"form-control"}} ) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-1">
                  <input type="submit" class="btn btn-primary" value='Valider'/>
                </div>
            </div>
            {{ form_widget(form) }}
        </form>
        <div class="col-lg-6 col-lg-offset-1">
                Envoyer un mail test à {{app.user.email}}<br />
                <a href="{{ path('ip_motors_mail_test') }}" class="btn btn-info btn-sm">Envoyer un mail test</a>
          
        </div>
    </div>

    
              
</div>            
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            skin : "charcoal",
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
        });
    </script>

{% endblock %}