{% trans_default_domain 'FOSUserBundle' %}
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register well bs-component col-lg-8 col-lg-offset-2">
    <fieldset>
        <legend>Inscription</legend>
            <div class="form-group">
                <label for="name" class="col-lg-3 control-label">Nom</label>
                <div class="col-lg-8">
                    {{ form_widget(form.name, { 'attr': {"class":"form-control"}} ) }}
                </div>
            </div>
            <div class="form-group">
                <label for="surname" class="col-lg-3 control-label">Prénom</label>
                <div class="col-lg-8">
                    {{ form_widget(form.surname, { 'attr': {"class":"form-control"}} ) }}
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-lg-3 control-label">Adresse e-mail</label>
                <div class="col-lg-8">
                    {{ form_widget(form.email, { 'attr': {"class":"form-control"}} ) }}
                </div>
            </div>
            <div class="form-group">
                <label for="username" class="col-lg-3 control-label">Nom d'utilisateur</label>
                <div class="col-lg-8">
                    {{ form_widget(form.username, { 'attr': {"class":"form-control"}} ) }}
                </div>
            </div>
            <div class="form-group">
                <label for="surname" class="col-lg-3 control-label">Mot de passe</label>
                <div class="col-lg-8">
                    {{ form_widget(form.plainPassword.first, { 'attr': {"class":"form-control"}} ) }}
                </div>
            </div>
            <div class="form-group">
                <label for="surname" class="col-lg-3 control-label">Vérification</label>
                <div class="col-lg-8">
                    {{ form_widget(form.plainPassword.second, { 'attr': {"class":"form-control"}} ) }}
                </div>
            </div>
            {{ form_widget(form) }}
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-3">
                  <a href="" class="btn btn-default">Annuler</a>
                  <input type="submit" class="btn btn-primary" value='{{ 'registration.submit'|trans }}'/>
                </div>
            </div>
        </fieldset>
    </div>

</form>
