{% extends '::base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-lg-10">
            <h1>Liste des utilisateurs  </h1>
        </div>

        <div class="col-lg-2">
            <a href="{{ path('fos_user_registration_register') }}" class="btn btn-info">Ajouter un utilisateur</a>
        </div>


        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom d'utilisateur</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Rôle</th>
                    <th>Actions</th>
                    <th colspan="2">Statut</th>
                    <th colspan="2">Modification</th>

                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id|e }}</td>
                        <td>{{ user.username|e }}</td>
                        <td>{{ user.name|e }}</td>
                        <td>{{ user.surname|e }}</td>


                        <td>
                            <strong>
                                {% if "ROLE_ADMIN" in user.roles %}
                                    Admin
                                {% else %}
                                    Utilisateur   
                                {%endif %}
                            </strong>
                        </td>                    
                        <td>
                            {% if app.user.id != user.id %}
                                {% if "ROLE_ADMIN" in user.roles %}
                                    <a href="{{ path('ip_motors_demote_admin', {username : user.username}) }}" class="btn btn-danger btn-sm">Rétrograder</a>
                                {% else %}
                                    <a href="{{ path('ip_motors_promote_admin', {username : user.username}) }}" class="btn btn-success btn-sm">Promouvoir</a>   
                                {%endif %}
                            {% endif %}
                        </td>

                        <td> 
                            <strong>
                                {% if user.enabled %}
                                    Activé
                                {% else %}
                                    Désactivé
                                {%endif %}
                            </strong> 
                        </td>
                        <td>
                            {% if app.user.id != user.id %}
                                {% if user.enabled %}
                                    <a href="{{ path('ip_motors_desactivate_user', {username : user.username}) }}" class="btn btn-danger btn-sm">Désactiver</a>
                                {% else %}
                                    <a href="{{ path('ip_motors_activate_user', {username : user.username}) }}" class="btn btn-success btn-sm">Activer</a>   
                                {%endif %}    
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('ip_motors_edit_user', {id : user.id}) }}" class="btn btn-info btn-sm">Modifier le profil</a>                  
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}