{% extends "::base.html.twig" %}

{% block body %}
    <form action="{{ path('ip_motors_form_edit_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        
        <div class="form-group">
            <label for="survey_name" class="col-lg-2 control-label">Nom Enquête:</label>
            <div class="col-lg-5">
                <input type="text" class="form-control" value="" name="survey_name"/>
            </div>
        </div>

        <ul class="nav nav-tabs" style="margin-bottom: 15px;">
            <li class="active"><a href="#home" data-toggle="tab">Véhicule actuel</a></li>
            <li class=""><a href="#profile" data-toggle="tab">Futur Véhicule</a></li>
            <li class=""><a href="#mail" data-toggle="tab">Mail Notification</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="home">
                <div class="jumbotron clearfix" >
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2">Modèle Sujet de l'enquète :</label>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" name="actualVehiculName"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pre-selected-options" class="col-lg-2">Points Forts du modèle :</label>
                        <div class="col-lg-10">
                            <div class="col-md-3"><p>Liste</p></div>
                            <div class="col-md-3"><p>Points Forts</p></div>
                            <select class="form-control" id='pre-selected-options1' multiple='multiple' name="actual_strenghs_survey[]">
                                {% for object in strenghs %}
                                    <option value='{{ object.id }}'>{{ object.name }}</option>
                                {% endfor %}
                            </select></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile">
                <div class="jumbotron clearfix" >
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2">Modèle Sujet de l'enquète :</label>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" name="futurVehiculName"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pre-selected-options" class="col-lg-2 control-label">Points Forts du modèle :</label>
                        <div class="col-lg-10">
                            <div class="col-md-3"><p>Liste</p></div>
                            <div class="col-md-3"><p>Points Forts</p></div>
                            <select id='pre-selected-options2' multiple='multiple' name="futur_strenghs_survey[]">
                                {% for object in strenghs %}
                                    <option value='{{ object.id }}'>{{ object.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="tab-pane fade" id="mail">
                <div class="jumbotron clearfix" >
                    <p>Selectionner votre emailing :</p>
                    <select id='pre-selected-options2' class="form-control" id="select"  name="emailing_survey">
                        {% for emaling in emailings %}
                            <option value='{{ emaling.id }}'>{{ emaling.title }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10">
              <input type="submit" class="btn btn-primary" value="enregistrer">
            </div>
        </div>
    </form>

{% endblock %}