{% extends "::base.html.twig" %}

{% block body %}
<a href="{{ path('ip_motors_strenghs_create') }}"><button type="button" class="btn btn-primary">Ajouter Points forts</button></a>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>#</th>
            <th>Nom</th>
        </tr>
    </thead>
    <tbody>
    {% for object in strenghs %}
        <tr>
            <td>{{ object.id }}</td>
            <td>{{ object.name }}</td>
            <td>
                <div style="float:right;">
                <a href="{{ path('ip_motors_strenghs_delete', { 'id': object.id }) }}"><button type="button" class="btn btn-primary">Suprimer</button></a> 
                <a href="{{ path('ip_motors_strenghs_update', { 'id': object.id }) }}"><button type="button" class="btn btn-primary">Modifier</button></a></td>
                </div>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}