{% extends "::base.html.twig" %}

{% block body %}
<form action="{{ path('ip_motors_strenghs_update', { 'id': strenghs.id }) }}" method="post" {{ form_enctype(form) }}>

{# Les erreurs générales du formulaire. #}
{{ form_errors(form) }}

    <div>
  {# Génération du label. #}
  {{ form_label(form.name, "Nom Point Fort") }}

  {# Affichage des erreurs pour ce champ précis. #}
  {{ form_errors(form.name) }}

  {# Génération de l'input. #}
  {{ form_widget(form.name) }}
    </div>


{# Génération des champs pas encore écrits.
   Dans cet exemple, ce serait « date », « auteur » et « publication »,
   mais aussi le champ CSRF (géré automatiquement par Symfony !)
   et tous les champs cachés (type « hidden »). #}
{{ form_rest(form) }}
</form>
{% endblock %}